{% extends 'base.html' %}
{% load static %}
{% block content %}
{% if messages %}
    {% for message in messages %}
    <script type="text/javascript">
        alert("{{ message.message }}");
    </script>
    {% endfor %}    
{% endif %}
    
<div class="post-list">
{% for post in posts %}
    <div class = "content">
        <div class="post-header">
            <div class="author">
            {% if post.author.profile.image %}
                <img src = "{{ post.author.profile.image.url }}" width="30px">
            {% endif %}
            <a href="{% url 'accounts:people' post.author %}">{{ post.author }} </a>
            </div>
            <div class="ud">
                {% if post.author == user %}
                <a href="{% url 'edit' post.id %}">수정</a>
                <a href="{% url 'delete' post.id %}">삭제</a></p>
                {% endif %}
            </div>
        </div>

        <img src="{{ post.photo.url }}"  />
        <hr />

        <p>{{ post.text|linebreaksbr }}</p>
        <p id="date">{{ post.published_date }} </p>     
        <hr />

        <input type="button" class="like" name="{{post.id}}" >
        <div class="post-like">
            좋아요 <span id="count-{{post.id}}">  {{post.like_count}} 개</span>
            <p id="like-user-{{post.id}}">
                {% for like_user in post.like_user_set.all %}
                    {{ like_user.username }}
                {% endfor %}
                {% if post.like_count > 0 %}
                    님이 좋아합니다
                {% endif %}
            </p>
        </div>

        <hr />
        
        <p>
            {% for comment in post.comment_set.all %}
                <p>
                {{ comment.user.username }} : {{ comment.content }}
                {% if comment.user == user %}
                    <a id="comment-delete" href="{% url 'comment_delete' post.id comment.id %}">댓글 삭제</a>
                {% endif %}
                </p>
                {% empty %} 댓글이 없습니다
            {% endfor %}
        </p>

        <hr />

        <p>
            {% if user.is_authenticated %}
            <form action="{% url 'comment_create' post.id %}" method="POST">
                {% csrf_token %}
                {{ comment_form }}
                <input type="submit" value="게시"   />
            </form>
            {% endif %}
        </p>
        <p>
        
    </div>
{% endfor %}
</div>

<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript">
        $(".like").click(function () {
            var post_id = $(this).attr('name')
            $.ajax({ 
                type: "POST", 
                url: "{% url 'post_like' %}", 
                data: { 'pk': post_id, 'csrfmiddlewaretoken': '{{ csrf_token }}' }, 
                dataType: "json", 

                success: function (response) { 
                    $("#count-" + post_id).html(response.like_count + "개");

                    var users = $("#like-user-" + post_id).text();

                    if (users.indexOf(response.username) != -1) {
                        $("#like-user-" + post_id).text(users.replace(response.username, ""));
                    } else {
                        $("#like-user-" + post_id).text(response.username + users);
                    }
                },
                error: function (request, status, error) {
                    alert("로그인이 필요합니다.")
                    window.location.replace("/accounts/login/")
                     
                },
            });
        })
    </script>
{% endblock %}